
body {
    background-color: black;
}

#hero {
    background-color:black;
    border: none;
}

#navbar{
    margin: 0px;
    background-color: black;
}

.b-example-divider{
    background-color: black;

}

/* #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
 } */


 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: auto;
  } 
  #footer {
    margin-top: auto;
 }

 footer{
    margin-top: auto;
    bottom: 0;
    width: 100%;
 }
 html{
    background-color: black;
}

.nav-link{
    color: #f0edcf;
}

@media (max-width: 768px) {
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #cards{
        margin-top: 40px;
       }


    #cards > div{
    display: flex;
    flex-direction: column;
    align-items: center;    
    }
}
